.h2 {
  position: relative;
  display: inline;
  // font-size: 30px !important;
  // font-weight: 400 !important;
  &:after {
    content: "";
    position: absolute;
    width: 90%;
    height: 4px;
    background-color: #ead11b;
    bottom: -10px;
    left: 50%;
    margin-left: -45%;
  }
}
p {
  font-size: 1rem;
}
.absolute {
  position: absolute;
}
.fill-width {
  width: 100%;
}

.gradient {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 28%,
    rgba(0, 0, 0, 0.500437675070028) 100%
  ) !important;
}

a {
  color: #507f88;
}

ul,
ol {
  padding-bottom: 20px !important;
}
